[submodule "FEI-"]
	path = FEI-
	url = https://github.com/IrvLH/FEI-.git
[submodule "Unpoema"]
	path = Unpoema
	url = https://github.com/IrvLH/Unpoema
[submodule "ecommerce"]
	path = ecommerce
	url = https://github.com/IrvLH/ecommerce
